main {
	display: flex;
}
.modal-header, h4, .close{
	background-color: grey;
	color: #fff !important;
	text-align: center;
	font-size: 30px;
}

.modal-header, .modal-body {
	padding: 40px 50px;
	color: black;
}
.right {
	position: absolute;
	left: 90%;
}
.right2 {
	position: absolute;
	left: 84%;
}
.right3 {
	position: relative;
	right: 50%;
	

}